# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\an.petit\Documents\Training\spring-boot-pluralsight\spring-framework-spring-mvc-fundamentals\10\demos\m10\after\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
